html{
    background: url('../img/elephant_desert.jpg') no-repeat center center;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    min-height: 100%;
    background-size: cover;
}

body{
	margin-top: 115px;
	}

.modal-body.food {
	height: 280px;
}

.modal-body.animal {
	height: 350px;
}

.modal-body.enclosure{
	height: 400px;
}

.condition{
	margin-bottom: 20px;
}

.feedTime {
	width: 18%;
	margin-left: 40%;
	text-align:center;
}


[views] {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:400;
    text-align:center;
    color: white;   
}

.table-responsive{
    overflow-x: auto;
    background: rgba(25, 25, 25, .45);
    position:fixed;
    top: 20%;
    bottom: 10%;
    left: 10%;
    right: 10%;
}

.btn {
	border-radius:0;
	box-shadow: 0px 0px 10px #888888;
	color: black;
}

td>a{
	color: #fed136;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(255, 126, 0, .80);
}

.navbar-default{
    background-color:#222;
    border-color:transparent;
}

.navbar-default .navbar-brand{
    color:#fed136;
    font-family:"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-shadow: 2px 2px black;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active{
    color:black;
    text-shadow: 2px 2px #fed136;
}

.navbar-default .navbar-collapse{
    border-color:rgba(255,255,255,.02)
}

.navbar-default .navbar-toggle{
    background-color:#fed136;
    border-color:#fed136;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color:#fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color:#fed136;
}

.navbar-default .nav li a{
    font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:1px;
    color:#fff;
    font-size:1.25em;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus{
    color:#fed136;
    outline:0;
    text-shadow: 1px 1px black;
}

.navbar-default .navbar-nav>.active>a{
    border-radius:0;
    color:#fff;
    background-color:#fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color:#fff;
    background-color:#fec503;
}

@media (min-width:768px){
    .navbar-default{
        background-color:transparent;
        padding:25px 0;
        -webkit-transition:padding .3s;
        -moz-transition:padding .3s;
        transition:padding .3s;
        position: absolute;
    }
    .navbar-default .navbar-brand{
        font-size:4.5em;
        -webkit-transition:all .5s;
        -moz-transition:all .5s;
        transition:all .5s
    }
    .navbar-default .navbar-nav>.active>a{
        border-radius:3px;
    }
    .navbar-default.navbar-shrink{
        background-color:#222;
        padding:10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand{
        font-size:1.5em
    }
}

div.content{
    width: auto;
    height: 300px;
    background-color: transparent;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 100px;
}

