<div class="table-responsive" views>
	<table class="table table-hover table-fixed">
		<thead>
			<tr>
				<td>Animal</td>
				<td>Scientific Name</td>
				<td>Favorite Food</td>
				<td>Update</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="animal in animalList">
				<td ng-bind="animal.name"><a href="{{animal.infoLink}}"></a></td>
				<td ng-bind="animal.sciName"></td>
				<td ng-bind="animal.favFood.name"></td>
				<td><button class="btn" type="submit" ng-click="updateAnimal('')">Update</button></td>
			</tr>
		</tbody>
	</table>
	<button ng-click="newAnimal()" class="btn" id="newAnimalButton">New Animal</button>
</div>