<div class="table-responsive" views>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>Enclosure</td>
				<td>Animal</td>
				<td>Number of Animals</td>
				<td>Feed Time</td>
				<td>Enclosure Condition</td>
				<td>Update</td>
				<td>Remove</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="enclosure in enclosureList" class="enclosureData" id="enclosure_{{$index}}">
				<td>{{enclosure.name}}</td>
				<td>{{enclosure.animal.name}}</td>
				<td>{{enclosure.numOfAnimals}}</td>
				<td>{{enclosure.feedTime}}</td>
				<td>{{enclosure.condition.condition}}</td>
				<td><button class="btn" type="submit" ng-click="editEnclosure(enclosure.id)" id="editEnclosure">Update</button></td>
				<td><button class="btn" type="submit" ng-click="deleteEnclosure(enclosure.id)" id="removeEnclosure">Remove</button></td>
			</tr>
		</tbody>
	</table>
	<button ng-click="newEnclosure()" class="btn" id="newEnclosureButton">New Enclosure</button>
</div>

