<div class="table-responsive" views>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>ID</td>
				<td>Enclosure</td>
				<td>Animal</td>
				<td>Number of Animals</td>
				<td>Feed Time</td>
				<td>Enclosure Condition</td>
				<td>Update</td>
				<td>Remove</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="enclosure in enclosureList">
				<td ng-bind="enclosure.id"></td>
				<td ng-bind="enclosure.name"></td>
				<td ng-bind="enclosure.animal.name"></td>
				<td ng-bind="enclosure.numOfAnimals"></td>
				<td ng-bind="enclosure.feedTime"></td>
				<td ng-bind="enclosure.condition.condition"></td>
				<td><button class="btn" type="submit" ng-click="updateEnclosure('')">Update</button></td>
				<td><button class="btn" type="submit" ng-click="deleteEnclosure(enclosure.id)">Remove</button></td>
			</tr>
		</tbody>
	</table>
	<button ng-click="newEnclosure()" class="btn">New Enclosure</button>
</div>

