<div name="addNewFoodModal">
	<div class="modal-header">
		<h3 class="modal-title">Add New Food</h3>
	</div>
	
	<div class="modal-body food">
		<form>
		<div class="col-md-12">
			<h4>Food: </h4>
			<input id="foodName" type="text" ng-model="food.name" class="form-control" placeholder="Enter Food Name" required>
		</div>
		
		<div class="col-md-12">
			<h4>Category: </h4>
			<select id="selectFoodCategory" ng-model="foodCategory" ng-options="foodCategory.category for foodCategory in foodCategories" class="form-control">
					<option class="foodCategoryDropdown" value="" selected disabled hidden>Food Category</option>
			</select>
		</div>
		
		<div class="col-md-12">
			<h4>Vendor: </h4>
			<input id="vendorName" type="text" ng-model="vendor.name" class="form-control" placeholder="Enter Vendor Name" required>
		</div>
		</form>		
	</div>		
		
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-click="addFood('')" id="newFoodSave">Save</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
	
</div>